<html>
    <body>
        <h1>Check The Mood</h1>

        <form action='#' method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <p>Are you searching for a song, album, or playlist?</p>
            <input type="radio" id="song" name="searchType" value="song">
            <label for="song">Song</label><br>
            <input type="radio" id="album" name="searchType" value="album">
            <label for="album">Album</label><br>
            <input type="radio" id="playlist" name="searchType" value="playlist">
            <label for="playlist">Playlist</label><br><br>
            <input type="submit" value="Get Mood">
        </form>

    </body>
</html>