<html>
    <body>
        <h1>
            <a href="http://127.0.0.1:5000/">
                Mood Check
            </a>
        </h1>
        
        <p>Try an Song</p>
        <form action='#' method="POST">
            <label for="song">Song:</label>
            <input type="text" id="song" name="song"><br>
            <label for="album">Album:</label>
            <input type="text" id="album" name="album"><br>
            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist"><br><br>
            <input type="submit" value="Get Mood">
        </form>
    </body>
</html>